.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header p {
  font-size: 2.8rem;
  font-weight: bold;
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button {
  margin-left: 10px;
  padding: 5px;
  background: #ddffdd;
  border: 2px solid #dddddd;
  border-radius: 8px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}